@use '../helpers/abstracts' as *;

.content--digital_product {
    display: flex;
    flex-direction: column;

    @include bp($point_6) {
        flex-direction: column;
        align-items: center;
    }
}

.content_info__title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.2rem;
    letter-spacing: 0.2px;
    color: $color_common_text;
    margin-bottom: 1.4rem;

    @include bp($point_6) {
        font-size: 3rem;
        line-height: 4rem;
        margin-bottom: 1rem;
    }
}

.content_info__descr {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.6rem;
    color: $color_common_text;
    opacity: 80%;
    margin-bottom: 4rem;

    @include bp($point_6) {
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin-bottom: 3rem;
    }
}

.content_project {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 18.8rem);
    gap: 13rem 3rem;

    @include bp($point_2) {
        display: block;

    }

    @include bp($point_5) {
        display: block;

    }
}

.projects__item_img {
    @extend %contain_img;
    border-radius: 3.5rem;
    margin-bottom: 1.2rem;

    @include bp($point_6) {
        border-radius: 2rem;
    }
}

.projects__item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    width: 55.5rem;
    height: 44.8rem;

    @include bp($point_1) {
        grid-column: span 3;
        width: auto;
        height: auto;
    }

    @include bp($point_6) {
        grid-column: span 2;
        width: 100%;
        height: auto;
    }
}

.projects__item:nth-child(2),
.projects__item:nth-child(3),
.projects__item:nth-child(4),
.projects__item:nth-child(5),
.projects__item:nth-child(6) {
    grid-column: span 2;
    width: 26.3rem;
    height: 18.8rem;
    margin-bottom: 2.8rem;

    @include bp($point_6) {
        margin-bottom: 3.8rem;
        width: 100%;
        height: auto;
    }
}

.project__desrc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
    margin-bottom: 0.8rem;
    opacity: 80%;
    color: $color_common_text;

    @include bp($point_6) {
        font-size: 1.2rem;
        line-height: 2rem;
        margin-bottom: 4.6rem;
    }
}

.project__title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.8rem;
    margin-bottom: 1.2rem;
    color: $color_title;

    @include bp($point_6) {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 1rem;
    }
}

.project__title_secondary {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.8rem;
    color: $color_common_text;

    @include bp($point_6) {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}