@use '../helpers/abstracts' as *;


.section--footer {
    background-color: #2E3E5C;
    ;
}

.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5.7rem;
}


.footer__in {
    top: -6.6rem;
    position: relative;
    margin: 0 auto;
}

.footer_logo {
    text-decoration: none;
    color: inherit;
    flex-shrink: 0;
}

.footer__title {
    display: inline-flex;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
    text-decoration: none;
    color: $color_white;

}

.circle {
    margin-top: 1.2rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #6c63ff;
    border-radius: 50%;
}


.footer__img {
    position: relative;
    display: block;
    object-position: center;
    object-fit: contain;
    width: 100%;
    height: 100%;
    width: 1.6rem;
    height: 1.6rem;
    right: 1rem;
    top: -1.5rem;
}

//Socials

.footer_socials {
    display: flex;
    column-gap: 1.6rem;
}

.footer_socials__item_w:has(.footer_socials__item.footer_socials__item--instagram) {
    background: $color_background_opacity;
    border-radius: 20rem;
    width: 4.8rem;
    height: 4.8rem;
    background-color: $color_background;
    border: 1px solid $color_background
}

.footer_socials__item_w:has(.footer_socials__item.footer_socials__item--facebook) {
    background: $color_background_opacity;
    border-radius: 20rem;
    width: 4.8rem;
    height: 4.8rem;
    background-color: $color_background;
    border: 1px solid $color_background
}

.footer_socials__item_w:has(.footer_socials__item.footer_socials__item--X) {
    background: $color_background_opacity;
    border-radius: 20rem;
    width: 4.8rem;
    height: 4.8rem;
    background-color: $color_background;
    border: 1px solid $color_background
}

.footer_socials__item_w:has(.footer_socials__item.footer_socials__item--github) {
    background: $color_background_opacity;
    border-radius: 20rem;
    width: 4.8rem;
    height: 4.8rem;
    background-color: $color_background;
    border: 1px solid $color_background
}

.footer_socials__item_w {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
}

.footer_socials__item_w:hover {
    transform: scale(1.1);
}

.footer_socials__item.footer_socials__item--github {
    background-image: url(../../../app/imgs/footer/Git.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.4rem;
    height: 1.4rem;
}

.footer_socials__item.footer_socials__item--X {
    background-image: url(../../../app/imgs/footer/X.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 1.4rem;
    height: 1.6rem;
}

.footer_socials__item.footer_socials__item--facebook {
    background-image: url(../../../app/imgs/footer/Facebook.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.4rem;
    height: 1.4rem;
}

.footer_socials__item.footer_socials__item--instagram {
    background-image: url(../../app/imgs/footer/Insta.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.4rem;
    height: 1.4rem;
}


.footer__info {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #EAEEF3;

}

.footer__heading {
    margin-top: 4.8rem;
    margin-bottom: 1.9rem;
}

.footer__heading__title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.7rem;
    color: $color_white;
}

.footer_aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    line-height: 2rem;
    gap: 4rem;
}

.footer__links li {
    list-style: none;
}

.footer__links a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    color: $color_white;
    opacity: 75%;
    transition: transform 0.2s ease;
}

.footer__links a:hover {
    transform: scale(1.1);
}

.footer__button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 18rem;
    height: 4.7rem;
    border-radius: 1.2rem;
    background-color: $color_background;
    color: $color_white;
    padding: 1rem 4rem;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.footer__button:hover {
    box-shadow: 0rem 0.6rem 2rem 0rem #706FE580;
    transform: scale(1.1);
}

.footer__copyright {
    display: flex;
    justify-content: center;
    margin-top: 8.9rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.0rem;
    color: $color_white
}