@use '../helpers/abstracts' as *;

.content__col--hero {
    width: calc(70% - 15px)
}

.hero {
    display: flex;
    column-gap: 6rem;
}

.hero__title {
    font-size: 6rem;
    font-weight: 700;
    line-height: 11rem;
    color: $color_title;
    margin-bottom: 4.2rem;
}

.hero__info_wrap {
    display: block;
    max-width: 60%;
    flex-shrink: 0;
}


.span_hero__title {
    padding: 0 3.8rem;
    border: 0.8rem solid $color_background;
    color: $color_background;
    font-size: 6rem;
    font-weight: 700;
    line-height: 10rem;
    letter-spacing: 0.2px;


}

.hero__descr {
    &:not(:last-child) {
        margin-bottom: 2.4rem
    }
}

/* .hero__img {
    max-width: 100%;
    width: 54.6rem;
    height: 63.1rem;
} */