@use './helpers/abstracts' as *;
@use './helpers/variables' as *;

html {
	// font-size: calc(100dvw / 1920 * 10);

	font-size: 10px;
}

html,
body {
	height: 100%;
	font-weight: 400;
	scroll-behavior: smooth;
}
body {
	font-family: $font_1;
}
.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex-grow: 1;
}

.section {
	width: 100%;
	padding: 10rem 0;
}
.section__title {
	margin-bottom: 4.4375rem;
	line-height: 1.5rem;

	font-size: 4rem;
	font-weight: 800;
	color: #1e1f4b;
}
.container {
	width: 100%;
	padding: 0 2rem;
	max-width: 114.4rem;
	margin: 0 auto;
}

.swiper {
	width: 600px;
	height: 300px;
}

//Section Form

/* .section__title {
	margin-bottom: 7.1rem;
}
 */
.section__decscr {
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.25rem;
	color: $color_descr;
	opacity: 75%;
	margin-bottom: 3.125rem;}

	